<aside class="w-fit whitespace-nowrap sticky top-8 h-fit text-b-graytext" transition:name="contact">
    <!-- portrait -->
    <div class="image-container rounded-md">
        <img src="/aneri.png" alt="Aneri" class="aneri-img">
        <!-- <img src="Frame3.png" alt="Frame" class="frame-overlay"> -->
    </div>
      
    <!-- description -->
    <div class="flex flex-col mb-12">
        <span class="text-b-minato">NYC-Based,</span>
        <span class="text-b-minato">Software Developer.</span>
        <span>Aneri Shah</span>
    </div>

    <!-- contacts box -->
    <div class="relative green-fade px-4 py-2 rounded-md mb-9"> <!-- Added relative positioning -->
        <ul class="flex flex-col text-base">
            <li class="flex gap-2 items-center">
                <img class="h-4 text-b-graytext" src="/icons/mail.svg" alt="email" />
                <a href="mailto:aneri.shah@nyu.edu">aneri.shah@nyu.edu</a>
            </li>
            <li class="flex gap-2 items-center">
                <img class="h-4" src="/icons/github.svg" alt="github" />
                <a href="https://github.com/anerivs">Github</a>
            </li>
            <li class="flex gap-2 items-center">
                <img class="h-4" src="/icons/linkedin.svg" alt="linkedin" />
                <a href="https://www.linkedin.com/in/aneri63shah">LinkedIn</a>
            </li>
        </ul>
        <div class="contact-noise rounded-md"></div> <!-- Positioned inside the relative div -->
    </div>
    <p class="text-b-graytext text-xs">
        website inspired by 
        <a href="https://github.com/matthewyingtao/portfolio-tokyo" class="underline">matthew tao's portfolio</a>
      </p>
      </aside>
