---
export type props = {
  title: string;
};

const { title, desc } = Astro.props;
---

<aside class="mt-2 hidden lg:block sticky top-8 h-fit max-w-xs">
  <div class="text-4xl text-bg-yellow mb-4 relative pb-2">
    {title}
    <span class="gradient-underline"></span>
  </div>
  <div class="text-lg text-b-graytext">
    {desc}
  </div>
</aside>

<style>
.gradient-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Adjust the thickness of the underline */
  background: linear-gradient(to right, #dbeefa, #d99a25); /* Gradient from white to yellow */
  content: "";
}
</style>
