---
import Island from "../components/layout/Islands.astro";
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import { projects } from "../data/projects/projects.json";
import FibbonaciHeading from "../components/layout/FibbonaciHeading.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Visuals"
      description="Here's some of Aneri's visual creations!"
    />
  </head>
  <body class="mx-gutter overflow-x-hidden bg-bg-black">
    <Header />
    <main class="flex flex-wrap md:flex-nowrap justify-center md:justify-start mb-20">
      <section class="w-full md:w-1/3 p-4">
        <FibbonaciHeading title="Visuals" desc="Some creations made in Aneri's (limited) free time"/>
      </section>
      <section class="masonry-layout w-full md:w-2/3">
        {
          projects.map(project => (
            <Island {...project} />
          ))
        }
      </section>
    </main>
  </body>
</html>

<style>
.masonry-layout {
  column-count: 3;
  column-gap: 1rem; /* Increase column gap */
}

.masonry-layout > div {
  break-inside: avoid;
  margin-bottom: 2rem; /* Increase bottom margin */
}
</style>
